    <div class="container">
        <div class="row">
            <div class= "col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center p-4">
                <IMG SRC="/public/images/sportsScripted.gif" style="width: 400px;">
                <div class="loginForm">
                    <label for="loginFormName">Name</label>
                    <input type="text" class="form-control" id="name-input" style="background-color: white;" placeholder="Enter Your Name Here">
                </div>
                <div class="loginForm">
                    <label for="loginFormEmail">Email</label>
                    <input type="text" class="form-control" id="email-input" style="background-color: white" placeholder="Enter Your Email Here">
                </div>
                <div class="loginForm">
                    <label for="loginFormPassword">Password</label>
                    <input type="text" class="form-control" id="password-input" style="background-color: white" placeholder="Enter Your Password Here">
                </div>
        </div>
        <div class="loginRow">
                <div class="loginFormBtnSignUp">
                    <button type="submit" class="btn btn-default btn-outline-darker" style="background-color: white; color: black" id="signup-btn"> Sign up </button>
                </div>
                </div>
        </div>
    </div>
    <div class="loginTrouble">
        <!-- link to sign in existing user... (login.handlebars) -->
        <p> Already have an Account? <a href="/" title="user login page">click here</a>
    </div>
    <script src="/js/signup.js"></script>